.grid-container-auth{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.grid-container-auth .form{
    margin: 3rem 1rem;
    min-width: 35vw;
}

.grid-container-auth input[type="text"], 
.grid-container-auth input[type="email"], 
.grid-container-auth input[type="password"]{
    margin: 0;
}

.input-link-grp{
    justify-content: space-between;
    width: 100%;
}

.form .btn-primary, .form .btn-primary-outline{
    font-size: 1rem;
    font-weight: 600;
}

.form .btn-primary-outline{
    width: 100%;
}

.form input[type="email"]:focus{
    border-color: var(--primary-color);
}

.password-wrapper input{
    border: none;
    width: 100%;
}

.password-wrapper{
    border: 1px solid var(--lynx-gray-color);
    display: flex;
    border-radius: var(--border-radius);
    align-items: center;
}

.password-wrapper:focus-within{
    border-color: var(--primary-color);
}

.password-wrapper button{
    margin: 0 1rem;
}

.err-msg{
    color: var(--red-color-900);
    background-color: var(--red-color-200);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-weight: 700;
}