/* products listing */
.video-page-container{
    margin: 1rem 0 4rem 0;
}

.category-chips{
    display: flex;
    gap: 1rem;
    margin-left: 6rem;
}

.category-chips .btn{
    border-radius: 2rem;
    font-size: 1.1rem;
}

.empty-state{
    margin: 4rem 0;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

/* || media queries */

@media only screen and (max-width: 640px){
    .category-chips{
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 450px){
    .category-chips .btn{
        font-size: 1rem;
    }

    .category-chips{
        gap: 0.5rem;
        flex-wrap: wrap;
    }
}