.header .search-box:focus-within{
    border-color: var(--primary-color);
}

.header{
    border-bottom: 1px solid var(--lynx-gray-color);
}

.header .logo{
    width: 10rem;
}

.logo-wrapper{
    display: flex;
    align-items: center;
}

.small-screen-login{
    display: none;
}

@media only screen and (max-width:810px){
    .search-box{
        order: 2;
    }
    
    .nav-hide-login{
        display: none;
    }

    .small-screen-login{
        display: block;
    }
}