/* mockman-css */
@import url("https://unpkg.com/mockman-js@latest/dist/style.css");

/* vacay-ui css */
@import url("https://vacay-ui.netlify.app/components/vacay.css");

/* reset css */
button{
    background: transparent;
}

input[type="checkbox"]{
    cursor: pointer;
}

/* common css */

:root{
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.input input{
    margin: 0 0.5rem;
}

.input label{
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.page-title{
    text-align: center;
    margin: 2rem 0;
}

.product-cards-container .card{
    box-shadow: none;
}

.card{
    box-shadow: none;
    border: 1px solid var(--lynx-gray-color);
}

.card:hover{
    box-shadow: var(--box-shadow);
}

.sidebar-container{
    display: grid;
    grid-template-columns: 12rem 1fr;
    min-height: 90vh;
}

.video-cards-container{
    padding: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
    justify-items: center;    
}

.videos-card-wrapper{
    margin: 1.5rem 0 4rem 0;
}

.videos-card-wrapper h2{
    text-align: center;
}

.videos-card-wrapper .btn-right{
    margin: 0.5rem 2rem 0.5rem auto;
}

/* || empty state */

.container-error-page{
    text-align: center;
}

.container-error-page .btn{
    margin: 0.5rem auto;
    width: fit-content;
}

.container-error-page img{
    max-width: 20rem;
}

/* || media queries */

@media only screen and (max-width: 900px){
    .sidebar-container{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 520px) {
    .video-cards-container{
        padding: 0.5rem;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(15.3rem, 1fr));
    }    
}